.catalog {
  width: 100%;
  background: #141a26;
  padding: 5rem 0;
}
.catalog-main {
  position: relative;
  width: 100%;
  padding: 0 1.5rem;
}
.catalog__nav {
  width: 100%;
  height: 8rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  padding: 2rem 3rem;
  border-radius: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-shape);
}
.catalog__select-wrap {
  flex: 1 0 75%;
}
.catalog__select-wrap {
  display: flex;
  height: 4rem;
  gap: 5rem;
}
.catalog__select {
  background: var(--bg-shape);
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  transition: 0.5s ease-in-out;
}
.catalog-radio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25.1rem;
  height: 4rem;
  border-radius: 1.6rem;
  padding: 0.5rem 0;
  background: var(--bg-color);
  cursor: pointer;
}
.catalog-radio span {
  display: block;
  padding: 0 1rem;
  border-radius: 1.2rem;
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: 3.1rem;
  transition: 0.2s linear;
}
.catalog-radio span.active {
  background: var(--bg-shape);
  color: var(--pri-color) !important;
  transition: 0.2s linear;
}
/* catalog grid */
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10rem 5rem;
}
.catalog__item {
  width: 16rem;
  height: 22.5rem;
  position: relative;
}
button.catalog__more {
  width: 18rem;
  height: 6rem;
  margin: 15rem auto 0;
}
.not-found-film {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--red-color);
  font-size: 3.6rem;
  animation: scale 1.2s ease-in-out infinite;
}
@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    letter-spacing: 0.5rem;
    text-shadow: 0 0.3rem 0.5rem var(--yellow-color);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
