.subscription {
    position: relative;
    padding: 8rem 0;
}
.subscription-main .slider-item {
    flex: 1 0 100%;
}
.subscription-main .card .card__title {
    max-width: 20rem;
    text-align: center;
}
.card__list.card__list--sub {
    justify-content: center;
}
button.section__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--bg-shape);
    color: var(--white-color);
}
button.section__nav:hover {
    background: var(--pri-color);
}
button.section__nav.section__nav--prev {
    left: 2rem;
}
button.section__nav.section__nav--next {
    right: 2rem;
}