/* base */
@import "../base/_reset.css";
@import "../base/_variables.css";
@import "../base/_typography.css";
@import "../base/_global.css";
/* profile */
.section-head-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 747px;
  background: linear-gradient(var(--bg-color), var(--bg-shape));
  line-height: 24px;
  padding: 120px 0px 60px;
}
.user-profile {
  height: 405px;
  width: 950px;
  background-color: #212529;
  box-shadow: #000000 0px 0px 20px 0px;
  line-height: 24px;
  align-items: center;
  margin: 0px 250px;
  display: flex;
}
.user-profile .user-profile-left {
  flex-basis: 16.6667%;
  height: 350px;
  width: 153px;
  padding: 0 15px;
  padding: 30px 0px 0px 30px;
}
.user-profile .user-profile-right {
  flex-basis: 83.3333%;
  height: 350px;
  width: 763px;
}
.user-profile-right h4 {
  text-align: left;
  font-size: 29px;
  color: white;
  margin-left: 17px;
  margin-bottom: 17px;
}
.user-profile-right profile-form {
  height: 350px;
  width: 731px;
  text-align: left;
  font-size: 29px;
  color: white;
  margin-left: 17px;
}
.user-profile-right profile-form form-name {
  height: 66px;
  width: 731px;
  text-align: left;
  color: #d1d0cf;
  margin-left: 18px;
}
.form-name label {
  display: inline-block;
  color: #6c757d;
  line-height: 24px;
  text-align: left;
  margin-left: 18px;
}
.form-name :is(#input1, #input2) {
  display: block;
  height: 43px;
  width: 731px;
  text-align: left;
  background-color: #131720;
  color: #ffffff;
  margin-left: 18px;
  font-size: 14px;
  line-height: 42px;
  padding: 0px 13.12px;
  margin-bottom: 20px;
}
.form-name select {
  margin-left: 17px;
  height: 45px;
  width: 21rem;
  color: white;
  background-color: #131720;
  border: 1px solid #d1d0cf;
  text-align: left;
  font-size: 14px;
  line-height: 39.2px;
  padding: 0px 20px 0px 8.75px;
  text-align: left;
}
.form-name select option {
  border-width: 1px;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
  line-height: 39.2px;
  padding: 0px 20px 0px 1px;
  text-align: left;
}
.form-name #input3 {
  height: 43px;
  width: 179px;
  text-align: left;
  background-color: #131720;
  color: #ffffff;
  margin-left: 18px;
  font-size: 14px;
  line-height: 42px;
  padding: 0px 13.12px;
  margin-bottom: 20px;
}
.form-name #btn1 {
  margin-left: 17px;
  width: 96px;
  height: 50px;
  background-color: #bf000a;
  border: 1px solid #bf000a;
  box-shadow: #000000 0px 0px 1.008px 0px;
  color: #ffffff;
  letter-spacing: 1.92px;
  line-height: 24px;
  padding: 12px 24px;
  text-align: center;
  text-transform: uppercase;
}
.button {
  width: 750px;
  height: 50px;
  display: flex;
}
.form-name #btn2 {
  margin-left: 17px;
  width: 96px;
  height: 50px;
  color: #ffffff;
  letter-spacing: 1.92px;
  line-height: 24px;
  padding: 12px 24px;
  text-align: center;
  text-transform: uppercase;
}
