.wrapper{
    width: 100%;
    background-color: #131720;
    padding-top: 120px;
}
.wallaper{
    width: 1476px;
    height: 480px;
    background-image: url(./assets/images/details/abc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    display: flex; 
    
}
.info-wrapper{
    width: 100%;
    height: 50%;
}
.info1{
    width: 888px;
    height: 285px;
    flex-basis: 66.6667%;
    text-align: left;
    line-height: 24px;
    margin-left: 160px;
}
.info{
    margin-top: 195px;
    /* margin-left: 160px; */
    width: 100%;
    height: 285px;
    flex-basis: 66.6667%;
    text-align: left;
    line-height: 24px;
    background: linear-gradient(#212529,#4c448172);
}
#playtrailer{
    align-items:center;
    color:#ffffff;
    display:inline-flex;
    font-family:'Inter';
    font-size: 25px;
    justify-content:flex-start;
    line-height:27px;
    text-align:left;
    margin-top: 30px;
    margin-bottom:-10px;
}
.info span{
    width: 50px;
    height: 50px;
    align-items:center;
    border-radius:50%;
    color:white;
    display:flex;
    font-size: 35px;
    font-weight:500;
    justify-content:center;
    line-height:24px;
    text-align:left;
}
.info h1 {
    align-items:center;
    color:#ffffff;
    font-family:'Rubik';
    justify-content:flex-start;
    font-size: 36px;
    line-height: 50px;
    text-align:left;
    padding-top: 30px;
}
#list{
    width: 890px;
    height: 30px;
    align-items:center;
    color:white;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    line-height:24px;
    margin: 5px -10px 30px;
    text-align:left;
}
#list li{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    line-height:28px;
    margin:0px 0px 0px 0px;
    text-align:left;
}
#list span{
    width: 50px;
    height: 50px;
    align-items:center;
    color:rgb(98, 98, 217);
    display:flex;
    font-weight:500;
    line-height:24px;
    text-align:left;
    font-size: 20px;
}
.info p{
    color:white;
    font-family:'Inter';
    line-height:26px;
    text-align:left;
    font-size: 18px;
}
.video-wrapper{
    width: 100%;
    background-color:#131720;
}
.video{
    padding-top: 30px;
    width: 100%;
    height: 588px;
    line-height: 24px;
}
.video .video1{
    margin-left: 150px;
    background-position:50% 50%;
    /* background-size:contain; */
    background-color:#131720;
    line-height:27.2px;
    text-align:left;
}
video{
    height: 458px;
    width: 900px;
    
}
.dowload{
    margin-left: 150px;
    width: 858px;
    height: 43px;
    flex-basis: 66,6667%;
    float: left;
    line-height: 24px;
    display: flex;
}
.dowload1{
    padding-left: 20px;
    width: 320px;
    height: 25px;
    align-items:center;
    color:white;
    display:flex;
    font-size:14px;
    justify-content:flex-start;
    line-height:21px;
    margin:20px 0px 0px;
    text-align:left;
    flex-basis: 66.667%;
}
.dowload1 a{
    color:#ffffff;
    font-family:'Inter';
    font-size:17px;
    line-height:22px;
    margin:0px 10px;
    text-align:left;
}
.dowload2{
    flex-basis: 33.3333%;
    align-items: center;
    justify-content:flex-start;
    height: 25px;
    align-items:center;
    color:white;
    display: flex;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 387px;
    float: RIGHT;
}
.dowload2 button{
    font-size: 17px;
}
.other-wrapper{
    width: 100%;
    background-color:#131720;
}
.other{
    width: 1300px;
    height: 270px;
    align-items:flex-start;
    color:#212529;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    line-height:24px;
    margin:20px 0px 0px;
    text-align:left;
}
.other-wrapper span{
    height: 50px;
    width: 50px;
    background-color:#151f30;
    align-items:center;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    line-height:24px;
    margin:25px 30px 0px 0px;
    text-align:center;
    font-size: 20px;
}
.other h3{
    margin-top: -20px;
    margin-left: 167px;
    width: 777px;
    height: 30px;
    color: white;
}
.other i{
    height: 50px;
    width: 50px;
    color:#2f80ed;
    line-height:24px;
    text-align:center;
    font-size: 20px;
}
.season{
    width: 100%;
    height: 226px;
    line-height: 24px;
}
.season1{
    width: 1300px;
    height: 220px;
    padding-left: 178px;
    display: flex;
}
.season1-1{
    flex-basis: 25%;
    width: 250px;
    height: 165px;
    color:white;
    font-family:Inter;
    line-height:24px;
    text-align:left;
    margin-right: 25px;
}
.season1-1 img{
    width: 250px;
    height: 170px;
    border-radius:17px;
}
.season1-1 span{
    height: 50px;
    width: 50px;
    /* display:flex; */
    justify-content:center;
    text-align:center;
    font-size: 20px;
    background-color: none;
}
.season1-1 img{
    overflow: hidden; 
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.season1-1 img::hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2); 
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    cursor: pointer; 
}
.season1-1 a{
    padding-left: 3px;
    color:#e0e0e0;
    display:inline;
    font-family:Rubik;
    font-size:18px;
    line-height:26px;
    text-align:left;
}
.actor-wrapper{
    margin-top: 50px;
    width: 100%;
    background-color:#131720;
    height: 400px;
}
.actor0{
    width: 1000px;
    height:30px;
    padding-bottom: 90px;
    margin-left: 176px;
    color: white;
    font-family: 'Rubik';
    display: flex;
}
.actor{
    align-items: center;
    margin-left: 176px;
    /* width: 1330px; */
    height: 240px;
    /* width: 300px; */
    background-color:#131720;
    display: flex;
}
.actor1{
    width: 220px;
    height: 320px;
    margin-right: 15px;
    /* flex-basis: 16.666667%; */
}
.actor1 img{
    border-radius: 17px;
    width: 200px;
    height: 210px;
}
.actor0 span{
    width: 50px;
    height: 50px;
    align-items:center;
    color:rgb(98, 98, 217);
    /* display:flex; */
    font-weight:500;
    line-height:24px;
    text-align:left;
    font-size: 20px;
    margin-right: 20px;
}
.gernes-wrapper{
    margin-top: -50px;
    width: 100%;
    background-color:#131720;
    height: 100px;
}
.gernes{
    width: 1000px;
    height: 100px;
    color: white;
    margin-left: 140px;
}
.gernes1{
    height: 60%;
    display: flex;
}
.gernes1 a{
    margin-right: 20px;
    align-items:center;
    background-color:#151f30;
    border-radius:12px;
    color:#e0e0e0;
    display:flex;
    font-family:'Inter';
    font-size:17px;
    justify-content:center;
    line-height:21px;
    text-align:left;
    margin: 20px 20px 0px 0px;
    padding: 0px 12px;
}
.gernes-wrapper{
    margin-top: -50px;
    width: 100%;
    background-color:#131720;
    height: 100px;
}
.share{
    width: 1000px;
    height: 100px;
    color: white;
    margin-left: 140px;
}
.share1{
    height: 60%;
    display: flex;
}
.share a{
    margin-right: 20px;
    align-items:center;
    background-color:#151f30;
    border-radius:12px;
    color:#e0e0e0;
    display:flex;
    font-family:'Inter';
    font-size:17px;
    justify-content:center;
    line-height:21px;
    text-align:left;
    margin: 20px 20px 0px 0px;
    padding: 0px 12px;
}
.cmt-sub{
    width: 1476px;
    height: 2100px;
    background-color: #131720;
    line-height:24px;
    display: flex;
}
.cmt{
    width: 887px;
    height: 2203px;
    flex-basis: 66.6667%;
    margin-left: 140px;
    flex-wrap: wrap;
}
.cmt1{
    width: 827px;
    height: 2167px;
    border-color:#212529;
    border-style:solid none none;
    border-width:1px 0px 1px;
    color:#212529;
    line-height:24px;
    margin:60px 30px 0px 0px;
    padding:60px 0px 0px;
    text-align:left;
    color: white;
}
.cmt-rv{
    width: 887px;
    height: 25px;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: 24px;
    font-family: 'Rubik';
    color: white;
    margin-bottom: 30px;
}
.cmt-rv li{
    align-items: center;
    display: flex;
    margin-right: 20px;
}
.cmt-rv span{
    width: 20px;
    height: 20px;
    background-color: #2f80ed;
    align-items: center;
    border-radius: 7px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    line-height:18px;
    margin:0px 0px 0px 10px;
    padding:0px 5px;
}
.comment{
    width: 826px;
    height: 2028px;
    /* display: flex; */
}
.comment-item{
    width: 827px;
    height: 286px;
    background-color:#151f30;
    border-radius:16px;
    font-family: 'Inter';
    margin-bottom: 20px;
    text-align: left;
    display: block;   
}
.comment-author{
    display: block;
    position: relative; 
    width: 777px;
    height: 40px;
    padding-top: 15px;
    margin-bottom: 20px;
    padding-left: 40px;
    display: flex;
}
.comment-author span{
    background-color: white;
    color:rgb(98, 98, 217);
    width: 40px;
    height: 40px;
    align-items:center;
    display:flex;
    font-weight:500;
    line-height:24px;
    text-align:left;
    font-size: 20px;
    border-radius: 7px;
    justify-content: center;
}
.comment-author a{
    font-weight: 500;
    color: white;
    line-height: 20px;
    text-align: left;
    margin-left: 15px;
}
.comment-author p{
    font-size: 12px;
    color: #e0e0e0;
    margin-left: 15px;
}
.author{
    display: block;
}
.text{
    width: 757px;
    height: 146px;
    border-color: white ;
    border-style: solid none;
    border-width: 1px 0px;
    color: #ffffff;
    font-family: 'Inter';
    line-height: 26px;
    padding: 20px 0px;
    position: absolute;
    margin-left: 40px;
    margin-top: 20px;
}
.text p{
    color: #ffffff;
    font-family: 'Inter';
    font-size: 17px;
    margin-left: 0px;
    justify-content: space-between;
    align-items: center;
}
.action{
    width: 787px;
    height: 50px;
    align-items: center;
    display: flex;
    padding:20px 0px 0px;
    text-align: left;
    margin-top: 180px;
    margin-left: 40px;
}
.action button{
    font-family: 'Inter';
    font-size: 17px;
    color: white;
    margin-right: 14px;
}
.action1{
    flex-basis: 50%;
    display: flex;
}
.action2{
    flex-basis: 50%;
    display: flex;
    margin-left: 420px;
}
.reply-comment-item{
    margin-left: 20px;
    width: 806px;
    height: 286px;
    background-color:#151f30;
    border-radius:16px;
    font-family: 'Inter';
    margin-bottom: 20px;
    text-align: left;
    display: block;
}
.reply-comment p{
    width: 740px;
}
.number{
    width: 806px;
    height: 60px;
    align-items:center;
    background-color:#151f30;
    border-radius:16px;
    display:flex;
    justify-content:space-between;
    line-height:24px;
    margin:30px 20px;
    padding:0px 20px;
    text-align:left;
}
.number ul{
    display: flex;   
    margin-right: -30px;
}
.number li{
    margin-right:20px;
}
.number ul li a{
    float: left;
    width: 30px;
    height: 30px;
    align-items: center;
    background-color: #131720;
    border-radius: 12px;
    color:#e0e0e0;
    display: flex;
    font-family: 'Inter';
    font-size: 14px;
    justify-content: center;
}
.your-comment{
    width: 810px;
    height: 257px;
    background-color:#131720;
    border-color:#2f80ed;
    border-radius:16px;
    border-style:solid;
    border-width:1px;
    color:white;
    line-height:24px;
    margin-top:60px;
    padding:20px;
    margin-left: 20px;
    text-align:left;
}
.your-comment textarea{
    width: 777px;
    height: 144px;
    background-color:#151f30;
    border-color:#000000;
    border-radius:16px;
    border-style:solid;
    border-width:1px;
    color:#ffffff;
    font-family:'Inter';
    font-size:14px;
    line-height:21px;
    padding:15px 20px;
    margin: auto;
    align-items: flex-start;
}
.buttonsend{
    display: flex;
}
.btnsend{
    margin-right: 30px;
    width: 180px;
    height: 50px;
    align-items:center;
    background-color:#2f80ed;
    border-radius:16px;
    color:#e0e0e0;
    display:flex;
    font-family:'Inter';
    font-size:14px;
    font-weight:500;
    justify-content:center;
    line-height:21px;
    text-align:center;
    text-transform:uppercase;
}
.notification{
    width:  464px;
    height: 2200px;
    max-width: 33%;
}
.nofi{
    margin-left: -15px;
    width: 460px;
    height: 367px;
    flex-basis: 100%;
    padding: -1 17px;
}
.nofi form{
    width: 444px;
    height: 337px;
    align-items:center;
    background-color:#131720;
    border-color:#2f80ed;
    border-radius:16px;
    border-style:solid;
    border-width:1px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    line-height:24px;
    margin-top:55px;
    padding:30px;
    text-align:left;
}
#flex{
    display: flex;
}
.sub-img{
    width: 351px;
    height: 47px;
    align-items:center;
    color:#2f80ed;
    justify-content:center;
    line-height:24px;
    margin:0px 0px 20px;
    text-align:left;
    font-size: 40px;
    align-items: center;
    display: flex;
}
form .inputmail{
    margin-top: 20px;
    width: 351px;
    height: 43px;
    background-color:#151f30;
    border-color:#000000;
    border-radius:16px;
    border-style:solid;
    border-width:1px;
    color:#ffffff;
    font-family:'Inter';
    font-size:14px;
    line-height:21px;
    padding:0px 20px;
}

#sendmail{
    margin-top: 30px;
    width: 351px;
    height: 50px;
    align-items:center;
    background-color:#2f80ed;
    border-radius:16px;
    color:#e0e0e0;
    display:flex;
    font-family:Inter;
    font-size:14px;
    font-weight:500;
    justify-content:center;
    line-height:21px;
    text-align:center;
    text-transform:uppercase;
}
.newitem{
    width: 444px;
    height: 1209px;
    flex-basis: 100%;
    border-color:#2f80ed;
    border-radius:16px;
    border-style:solid;
    border-width:1px;
    margin-left:-15px;
}
.new-items{
    width: 444px;
    height: 80px;
    flex-basis: 100%;
    line-height: 24px;
    margin-bottom: -17px;
    margin-top: 10px;
    text-align: center;
}
.new-items h2{
    color: white;
    font-family: 'Inter';
}
.new-movies{
    width: 221px;
    height: 363px;
    display: flex;
}
.new-movies a{
    width: 192px;
    height: 270px;
    border-radius: 7px;
}
.new-movies img{
    width: 192px;
    height: 270px;
    border-radius: 7px;
}
.newitems1{
    display: flex;
    margin-left: 17px;
}

.new-movies .movies-wrapper #movie1{
    margin-top: 7px;
    font-size: 20px;
}
.similar{
    width: 1476px;
    height: 576px;
    padding: 80px 0px;
}
.similar a{
    color: wheat;
    font-size: 37px;
    display: inline;
    line-height: 43px;
    margin-left: 155px;
}
.similar-movie{
    width: 1330px;
    height: 370px;
    display: flex;
    margin-left: 70px;
}
.similarmovie1{
    width: 192px;
    height: 363px;
    margin-right: 20px;
}
.similar-movie img{
    width: 200px;
    height: 270px;
    border-radius: 7px;
}
.similarmovie1 li{
    font-size: 14px;
    color: white;
}
