@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@300&display=swap");
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--pri-font);
}
a {
  color: var(--white-color);
}
a:hover {
  color: var(--pri-color);
  transition: 0.3s ease-in-out;
}
.section__title {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 3.6rem;
  font-family: var(--second-font);
  text-transform: capitalize;
}
.section__text {
  margin-bottom: 1rem;
  color: var(--white-color);
  font-size: 1.8rem;
  line-height: 2.8rem;
}
